#add-btn
  position: fixed
  bottom: 20px
  right: 20px
  border-radius: 50%
  width: 50px
  height: 50px
  border: none
  outline: none
  cursor: pointer
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25)
  background: #6c5ce7
  z-index: 100
  i
    color: white

.empty
  width: 100%
  font-weight: bold
  text-align: center
  font-size: 40px
  color: #a3a3a3
  position: absolute
  top: 30%
  left: 0
