body, html
  padding: 0
  margin: 0

*
  font-family: 'Lato', Helvetica, sans-serif
  line-height: 1.5

h1
  font-size: 2.5rem

h2
  font-size: 2rem

h3
  font-size: 1.375rem

h4
  font-size: 1.125rem

h5
  font-size: 1rem

h6
  font-size: 0.875rem

p
  font-size: 1.125rem
  font-weight: 200
  line-height: 1.8

.grid
  padding: 20px 30px
  margin-top: 60px
  margin-bottom: 80px
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))
  grid-column-gap: 20px
  grid-row-gap: 20px
  max-width: 100%

.empty
  width: 100%
  font-weight: bold
  text-align: center
  font-size: 40px
  color: #a3a3a3
  position: absolute
  top: 30%
  left: 0

.tools
  height: 50px
  display: flex
  align-items: center
  justify-content: space-between
  box-sizing: border-box
  padding: 0 5px
  border-radius: 50px
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25)
  position: fixed
  left: 50%
  bottom: 30px
  transform: translateX(-50%)
  z-index: 100
  background: rgba(108, 92, 231, 1)
  .tool
    color: white
    width: 35px
    height: 35px
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    font-size: 16px
    cursor: pointer
    transition: background 0.3s
    margin: 0 10px
    &:hover
      background: #473ba1

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait)
  .grid
    margin: 0!important
    padding: 0
    grid-row-gap: 0px
    grid-template-columns: auto
    margin-bottom: 50px!important
    margin-top: 60px!important
  .tools
    width: 100%
    border-radius: 0
    bottom: 0
    left: 0
    transform: none
